# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
apps/fractal/output.png
apps/fractal/fractal
go.code-workspace
.vscode/settings.json
apps/fractal/output1.png
**/node_modules

apps/my-app
apps/fractal/static/main.js
apps/fractal/static/main.js.map
